name: main test & release

on:
  workflow_dispatch:
    inputs:
      environment:
          description: Environment to deploy to
          options: ['staging','prod']
          required: true
jobs:
  test_job:
    runs-on: ubuntu-latest
    steps:
      - name: Step 1
        run: |
          echo 'Step #1 deploying to ${{github.event.inputs.environment}}'
